body {
  background: url(fundo.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

input {
  width: 60%;
  padding: 10px 40px 10px 15px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.container_login  {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_registro{
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_recuperacao {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.ver_senha {
   cursor: pointer;
   user-select: none;
   position: absolute;
   transform: translateX(-25px);
   margin-top: 7px;

}

.ver_senha_registro {
   cursor: pointer;
   user-select: none;
   position: absolute;
   margin-top: 8px;
   margin-left: -30px;
}

button {
  width: 40%;
  padding: 12px;
  border-radius: 20px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.botao_login {
   justify-content: center;
   width: 50%;
}

.botao_registro {
   justify-content: center;
   width: 50%;
}

.botao_recuperacao {
   justify-content: center;
   width: 50%;
}

button:hover {
   transform: scale(1.03);
   transition: 0.2s;
   cursor: pointer;
   
}

.foto {
   width: 120px;
   margin-bottom: 20px;
}

.foto_registro {
   width: 120px;
   margin-bottom: 20px;
   cursor: pointer;
}

.foto_recuperacao  {
   width: 120px;
   margin-bottom: 20px;
   cursor: pointer;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.form_registro {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.input-container {
  position: relative;
  margin-top: 10px;
  width: 350px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

a.inicio {
   margin-left: 45%;
}


