body, html {
    margin:0;
    padding:0;
    font-family:serif;
    overflow-x: hidden;
    width: 100%;
}

.menu-navegacao {
    background-color: black;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    margin-bottom: 0;
}

.logo {
    color: white;
    padding-left: 20px;
}

.acoes {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    align-items: center;
}

.acoes i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.acoes span {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    right: 35px;
    bottom: 10px;
}
.acoes input {
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.categorias a {
    color: white;
    text-decoration: none;
}

.categorias{
    display: flex;
    gap: 40px;
    font-size: 20px;
}

/* produtos */

.conteudo {
    background: linear-gradient(135deg, #000000, #212020);
    border-top: 0.5px solid white;
    height:auto;
}

.Produtos h2 {
    color: white;
    text-align: center;
}

.grade-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    color: white;
    justify-items: center;
}

.card_produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}
.card_produtos img {
    width: 250px;
    height: 300px;
    margin-bottom: 12px;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card_produtos p  {
    opacity: 0.5;
}

.card_produtos button  {
    background-color: black;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    width: 60%;
}

.card_produtos i {
    padding-left: 10px;
    font-size: 18px;
}
.preco_antigo {
    opacity: 0.5;
}
.preco_novo {
    font-size: 19px;
}

/* cabeçalho */

footer  {
    background-color: black;
    padding: 20px;
    border-top: 1px solid white;
    color: white;
    text-align: center;
}
footer h3 {
    opacity: 0.5;
}

/* animaçoes */
.card_produtos button:hover{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

.card_produtos img:hover {
    box-shadow: 10px 10px 5px black;
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}

.categorias a:hover {
    transform: scale(1.08);
    transition: 0.3s ease;
}


/* responsividade */

@media (max-width:1024px){

    .menu-navegacao {
        padding: 10px 10px; 
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 20px;
    }
    .acoes {
        flex: 1;
        justify-content: flex-end; 
    }

}


@media (max-width: 400px) {
  .grade-produtos {
    grid-template-columns: 1fr; 
  }

  .card_produtos img {
    width: 90%;
    height: auto;
  }

    .menu-navegacao {
    flex-direction: column;     
    align-items: flex-start;    
    padding: 10px 15px;
  }
  .categorias {
    flex-wrap: wrap;           
    gap: 15px;
    font-size: 16px;
  }
   .acoes {
    width: 100%;                 
    justify-content: space-between;
    padding-right: 0;
    
}
 .acoes input {
    width: 100%;
    font-size: 14px;
  }
    .acoes i {
    font-size: 24px;
  }
}

