body {
    margin: 0;
    background-color: rgb(204, 204, 204);
    font-family: "BBH Sans Hegarty", sans-serif;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    margin-bottom: 2%;
    margin-left: 4%;
}
header h2 {
    margin-bottom: 0;
    font-size: 40px;
}

header i {
    font-size: 30px;
}

.voltar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
/* LAYOUT GERAL  */
#conteudo {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px; 
    padding: 20px 60px;
}

/* ===== PERFIL LATERAL */
#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-lateral {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(46, 36, 51));
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.info-lateral img {
    width: 30%;
    height: 35%;
    border-radius: 50%;
}
.icon-email {
    display: flex;
    align-items: center;
}
.icon-email i {
    padding-right: 5px;
}

/* OPÇÕES PERFIL (painel esquerdo */
.info-opcoes {
    background-color: white;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.info-opcoes a {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.info-opcoes i {
    padding-right: 20px;
    padding-left: 10px;
}

/* INFO PESSOAL (painel direito) */
.info-pessoal {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
}

/* cabeçalho do painel */
.nav-perfil span {
    padding-left: 20px;
    opacity: 0.4;
}
.nav-perfil h2 {
    padding-left: 20px;
    margin-bottom: 0;
}
.nav-perfil a {
    background-color: black;
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.nav-perfil i {
    padding-right: 10px;
}
.nav-perfil div {
    display: flex;
    justify-content: end;
    margin-top: -37px;
    margin-bottom: 25px;
}

/* CARDS */
.conteudo-perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 25px 40px; 
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
}
.conteudo-perfil span {
    opacity: 0.5;
}


.card {
    background-color: rgba(239, 239, 239, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 260px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* ===== ÍCONES ===== */
.titulo i {
    font-size: 26px;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

/* Cores específicas */
.nome i {
    background-color: rgba(0, 128, 255, 0.8);
}
.Telefone i {
    background-color: rgba(0, 253, 118, 0.8);
}
.endereço i {
    background-color: rgba(151, 71, 255, 0.8);
}
.cidade i {
    background-color: rgba(246, 134, 42, 0.8);
}
.cep i {
    background-color: rgba(255, 35, 229, 0.8);
}


/* animaçoes e interaçoes */

.info-opcoes a:hover {
   transform: scale(1.05);
   transition: 0.3s ease-out;
}

.info-pessoal a:hover {
    transform: scale(1.05);
    transition: 0.3s ease-out;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 900px) {
    #conteudo {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 20px;
    }
    .info-lateral,
    .info-opcoes {
        width: 90%;
    }
    .info-pessoal {
        width: 100%;
    }

    .conteudo-perfil {
        grid-template-columns: 1fr;
    }
    .conteudo-perfil .card:nth-child(3) {
        grid-column: auto;
    }
    .nav-perfil span {
    padding-left: 2px;
    opacity: 0.4;
}
    .nav-perfil h2 {
    padding-left: 2px;
    margin-bottom: 0;
    font-size: 18px;
}
    .nav-perfil a {
        width: 80px;
        height: 30px;
}
}
