body {
    margin: 0;
    background-color: rgb(204, 204, 204);
}


header{
    margin-bottom: 2%;
    margin-left: 4%;
}
header h2 {
    margin-bottom: 0;
}

#perfil {
    margin-left: 10%;   
}
#conteudo {
    display: grid;
    grid-template-columns: 1fr 2.7fr;
}


.info-lateral {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image:linear-gradient(120deg,rgb(0, 0, 0) ,rgb(46, 36, 51) );  
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.info-lateral img {
    width: 30%;
    height: 35%;
    border-radius: 50%;
}

.icon-email{
    display: flex;
    align-items: center;
}
.icon-email i {
    padding-right: 5px;
}

/**/

.info-opcoes {
    background-color: white;
    width: 300px;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.info-opcoes a {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 260px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.info-opcoes i {
    padding-right: 20px;
    padding-left: 10px;
}

.info-pessoal {
    background-color: white;
    width: 90%;
}
.info-pessoal  h2,span {
    padding-left: 20px;
}
.info-pessoal h2 {
    margin-bottom:0 ;
}

.nav-perfil a {
    background-color: black;
    color: white;
    text-decoration: none;
    float: right;
    margin-right:20px;
    padding: 10px;
}


